.comingSoon-container {
    @include flex(row);
    background-color: map-get($colors, "secondary");
    width: 100vw;
    height: 100vh;
    .sign {
        @include flex(column);
        background-color: map-get($colors, "cloud");
        width: 80%;
        height: 80%;
        &-icon {
            @include flex(row);
            background-color: map-get($colors, "font-color");
            color: map-get($colors, "cloud");
            width: 80px;
            height: 80px;
            border-radius: 50%;
            font-size: 50px;
        }
        &-img {
            width: 65%;
        }
        h1 {
            font-size: 50px;
            color: map-get($colors, "font-color");
        }
    }
}