.pet-card {
    width: 350px;
    background-color: map-get($colors, "cloud");
    border-radius: 15px;
    &:hover {
        box-shadow: 3.9px 7.8px 7.8px rgba(0, 0, 0, 0.5);
    }
    &__img {
        width: 100%;
        img {
            width: 100%;
            height: 260px;
            object-fit: cover;
        }
    }
    &__content {
        h2 {
            text-align: center;
        }
        p {
            margin-bottom: 9px;
            margin-left: 130px;
        }
    }
}