.vetpet-container {
    display: flex;
    gap: 5px;
    width: 100%;
    .vetpet-list {
        display: flex;
        align-items: center;
        flex-direction: column;
        background-color: map-get($colors, "cloud");
        width: 250px;
        height: 350px;
        border-radius: 15px;
        &__img {
            display: flex;
            justify-content: center;
            width: 100%;
            margin: 20px 0;
            img {
                width: 130px;
                height: 130px;
                border-radius: 50%;
                border: 5px solid map-get($colors, "font-color");
                object-fit: cover;
            }
        }
        &__content {
            p {
                margin: 5px 0;
            }
        }
        &__btns {
            width: 100%;
            display: flex;
            justify-content: space-around;
            margin-top: 25px;
            button {
                width: 100px;
                color: map-get($colors, "white");
                font-size: 17px;
                padding: 3.5px;
                border-radius: 20px;
                transition: all 0.3s ease-in-out;
                &:hover {
                    box-shadow: 3px 5px 10px 3px rgba(0, 0, 0, 0.5);
                    font-size: 18.5px;
                }
            }
        }
    }
}