.view-container {
    overflow: hidden;
    @include media-up(md) {
        width: 280px;
    }
    padding-top: 10px;
    @include flex(column);
    img {
        margin: 50px;
        width: 280px;
        @include media-up(md) {
            width: 250px;
        }
    }
    p {
        font-size: 30px;
    }
}