.signin-container {
    position: absolute;
    top: 10px;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 80%;
    height: 80%;
    background-color: map-get($colors, "secondary");
    box-shadow: 3px 3px 5px 0 rgba(0, 0, 0, 0.3);
    @include flex(row);
    &__img {
        @include flex(row);
        width: 50%;
        height: 100%;
        padding-top: 60px;
        @include media-up(md) {
            display: none;
        }
        img {
            position: relative;
            left: 50px;
            top: 5px;
            z-index: 1;
            object-fit: cover;
            width: 75%;
        }
        .img-spot {
            position: absolute;
            margin-top: 20px;
            width: 30%;
            height: 60%;
            background: map-get($colors, "white");
            border-radius: 40% 50% 50% 30% / 60% 60% 40% 40%;
        }
    }
    &__form {
        @include media-up(md) {
            width: 100%;
            background-color: map-get($colors, "secondary");
        }
        @include flex(row);
        width: 50%;
        height: 100%;
        background-color: map-get($colors, "cloud");
        .signin-form {
            @include media-up(md) {
                width: 90%;
            }
            @include flex(column);
            box-shadow: 2px 2px 5px 3px rgba(0, 0, 0, 0.3);
            border-radius: 15px;
            gap: 30px;
            height: 70%;
            width: 60%;
            background-color: map-get($colors, "white");
            color: map-get($colors, "font-color");
            &__content {
                display: flex;
                flex-direction: column;
                gap: 20px;
                height: 40%;
                width: 100%;
                .group-input {
                    width: 100%;
                    position: relative;
                    input {
                        margin-left: 20px;
                        width: 90%;
                        border: 2px solid map-get($colors, "font-color");
                        border-radius: 15px;
                        padding: 7px 0 7px 40px;
                        outline: none;
                        color: map-get($colors, "font-color");
                        &::placeholder {
                            color: map-get($colors, "font-color-light");
                        }
                    }
                    .form-icon {
                        position: absolute;
                        margin-left: 35px;
                        top: 7.5px;
                    }
                }
            }
            &__footer {
                @include flex(column);
                gap: 20px;
                width: 100%;
                .form-btn {
                    text-align: center;
                    padding: 10px;
                    border-radius: 25px;
                    width: 50%;
                    font-weight: bold;
                    color: map-get($colors, "cloud");
                    background-color: map-get($colors, "font-color");
                    font-size: 17px;
                    transition: all .2s ease;
                    &:hover {
                        box-shadow: 5px 5px 10px 3px rgba(0, 0, 0, 0.5);
                        font-size: 18.5px;
                    }
                }
                .form-link {
                    text-decoration: none;
                    font-weight: bold;
                    color: map-get($colors, "font-color");
                    transition: all .2s ease;
                    &:hover {
                        color: map-get($colors, "primary");
                    }
                }
            }
        }
    }
}