// Main colors
$primary: #F5A962;
$secondary: #BEE0FF;
$font-color: #5C75DB;
$cloud: #F7F7F7;
$white: #ffffff;
//------
* {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: $primary;
}